/* pagiande presentacion de proyecto*/

body{
  font-family: 'Lato', sans-serif;
}
header{
  width: 100%;
  background: #fff;
  color: #242424;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right:5%;
  
  position: fixed;
  top: 0px;
  z-index: 100;
  border-bottom: 1px solid #d7d7d7;
}

.title{
  float: left;
  padding: 25px 20px;
  font-size: 20px;
  font-weight: bold;
}
.nav-site{
  float: right;

}
.nav-site li{
  float: left;
  padding: 30px 20px;
  transition:all 0.3s linear;
}
.nav-site li:hover{
  background-color: #434343;

}

.nav-site li a{
  list-style: none;
  text-decoration: none;
  color: #000;

}
.brand img{
  width: 5%;
  /* height: 100px; */
  float: left;
  padding: 25px 40px;
}

/* ============= HERO ============= */

.hero {
  display: flex;
  height: 85vh;
  top:75px;
  position: relative;
  justify-content: center;  

}

.hero_contenedor {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;         
  flex-wrap:nowrap;
  margin: 20px 5%;

}
.hero_contenedor_texto {
  width: 50%;
  margin: 5px 0;
  padding: 20px 0;
  text-align: left;
}

.hero_contenedor_img {
  width: 50%;
  margin: 5px 30px;
}


h2.hero_tit_prod {
  /* background-color: #1c4464; */
  font-size: 48px;
  line-height: 58px;
  color: #000;
  padding: 35px 18px 20px;
}

.hero_descripcion_prod{
  font-size: 16px;
  line-height: 20px;
  padding: 5px 20px;
}

.hero_botones{
  display: flex;
  padding: 5px 20px;
  margin: 30px 0 10px;

}
.btn_vermas{
  padding: 14px 30px;
  color: #fff;
  text-decoration: none;
  background-color: #242424;
  /* border-radius: 5px; */
  display: block;
  margin-right: 20px;
}
.btn_agregar {
  padding: 14px 30px;
  color:#242424;
  text-decoration: none;
  background-color: #ffffff;
  border:1px solid #242424;
  display: block;
  margin-right: 20px;
}


/* ============= MAIN ============= */

.main{
  /* position: relative; */
  margin-top: 75PX;;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #f4f5f8; */
  
}

.title_section{
  width: 95%;
}

.title_section h2{
  color: #616161;

}
/* box de atenciones  */

.box{
  width: 100px;
  height: 100px;
  background-color: blue;
  margin:10px;
}
.atenciones{
  display: flex;
  background-color: crimson;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 1280px;
  margin-top: 110px;
}

.atenciones_box{
  background-color: rgb(201, 77, 101);
  width: 100%;
  height: 150px;
  margin: 10px;
  flex-wrap: nowrap;
}

.at_textos{
  color: #000;
}


/* ============= CATEGORIAS ============= */

.categorias{
  background-color: #fff;
  width: 100%;
}
.section_title{
  margin: 20px 5% 10px;
}
.section_title h3{
  font-size: 24px;
  padding: 25px 20px 5px 20px;
  color:#333;
}

.contenedor_categorias{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;;
  margin: 0px 5% 40px;
  /* width: 100%; */
}


.item_categoria{ 
  margin: 0 20px 25px 20px;
  box-sizing: border-box;
  /* width: 280px; */
  width: 263px;
  /* float: left; */
  overflow:hidden;
  border: 1px solid  #d7d7d7;
}
.item_categoria:hover{
	transform-style: preserve-3d;
	/* transform: scale(1.02); */
	transition: all ease 0.3s;
}

img.img_categoria{
  height: 50%;
}
.card_categoria{
  padding-bottom : 25px ;
  background-color: #fff;
  margin-top: -3px;
  
  }
  
.card_categoria_titulo{
  font-size: 16px;
  color: #242424;
  font-weight: 400;
  padding: 14px 8px;
  text-align: center;
}

/* prmociones */
.promociones{
  width: 100%;
}
.contenedor_promociones{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;;
  margin: 0px 5% 40px;
}

/* artistas */
.artistas{
  background-color: #fff;;
  width: 100%;
  
}

.contenedor_artistas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;;
  margin: 40px 0;
  width: 100%;
}



.item_artista{ 
  margin: 0 20px 25px 20px;
  box-sizing: border-box;
  width: 280px;
  /* float: left; */
  overflow:hidden;
}


.item_promociones{
  margin: 0 20px 25px 20px;
  box-sizing: border-box;
  width: 280px;
  /* float: left; */
  overflow:hidden;
  border: 1px solid  #d7d7d7;
  /* box-shadow: 0 2px 3px 0 rgba(0, 0,0,0.12); */
  padding: 5px;
}
/* promociones */

/* categprias */

/* h2{
  font-size: 25px;
  padding: 40px ;
  color: #616161;
} */
.contenedor_cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card_contenido{
padding-bottom : 25px ;
background-color: #fff;
margin-top: -3px;

}

.card_titulo{
  font-size: 16px;
  color: #242424;
  font-weight: 400;
  padding: 14px 8px;
}
.card_precio{
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  padding: 0 8px;
}

.item-drum:hover img{
  transform:scale(1.1);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  /*filter: none;*/
}
img{
  width: 100%;
}
.item1{
  position: absolute;
  background-color: black;
  color: white;
  padding: 8px 16px;
}

.texto1{
  margin-top: 30px ;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.4;
}
.item-person{
  margin-top: 30px ;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  /* width: 301px; */
  width: 280px;
  float: left;
  line-height: 1.4;
}

.imgitem:hover{
  filter: grayscale(80%);
  transition:all .5s ease-in-out; /*nuevo*/
}

h3{
  padding-top: 10px ;
  padding-bottom: 10px;
  font-size: 20px;
}
.band{
  padding-top: 10px ;
  padding-bottom: 10px;
  display: block;
  color: gray;
}
.texto2{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;

}
.leermas{
  background-color:#ebebeb ;
  padding:10px;
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 18px;
  transition: all 0.3s linear;
}
.leermas:hover{
  background-color: #959595;
}
.no-margin{
  margin-right: 0px;
}

/*-------bloque4----*/

.texto3{
  margin-top: 30px ;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 1.2;
}

input{
  width: 1230px;
  margin-top: 15px ;
  margin-left: 15px;
  display: block;
  padding: 7px;
  border: 1px solid #c2bfbf;
  font-size: 18px;

}

.btn{
  padding:15px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: black;
  color: white;
  display: inline-block;
  transition: all 0.3s linear;
}

.btn:hover{
  background-color:#ebebeb ;
  color: black;
}
footer{

  padding: 35px;
  background-color: black;
  color: white;
  text-align: center;
}



/* ============= DESCUENTOS ============= */

.descuentos{
  background-color: #fff;
  width: 100%;
}
.contenedor_descuentos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;;
  margin: 0px 5% 40px;
}

.item_descuentos{ 
  margin: 0 20px 25px 20px;
  box-sizing: border-box;
  width: 30%;
  overflow:hidden;
  /* border: 1px solid  #d7d7d7; */  
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


.card_descuentos{
  /* padding-bottom : 25px ; */
  /* background-color: #fff; */
  /* margin-top: -3px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  }


.card_descuentos_titulo{
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-shadow: 2px 1px #000;
}
.card_descuentos_mensaje{
  font-size: 18px;
  padding: 10px 20px ;
  color: #fff;
  text-shadow: 2px 1px #000;
}

img.img_descuentos{
  height: 50%;
}

/* ***************************** *
*          RESPONSIVE            *
* ***************************** */
/* @media screen and (min-width: 480px) {
  .contenedor_categorias{
    background-color: green;
  }
  .owl-carousel .owl-theme{
    display: none;
  }
} */
@media screen and (max-width: 480px) {
  .title{
    padding: 25px 15px;
  }
  .nav-site{
    display: none;
  }
.hero {
    width: 100%;
    height:100%;
    /* margin:10px */
}
.hero_contenedor {
  width: 100%;
  height:100%;
  display: flex;        
  flex-wrap: wrap;
  margin:5px
}
.hero_contenedor_texto {
  width: 100%;
}
.hero_contenedor_img {
  width: 100%;
}

h2.hero_tit_prod{
  font-size: 26px;
  line-height: 28px;
  padding: 25px 10px;
}
.hero_descripcion_prod{
  padding: 5px 10px;
}

.hero_botones{
  padding: 5px 10px;
}
/* .item_categoria{ 
  margin: 0 ;
  box-sizing: border-box;
  width: 100%;
  
  overflow:hidden;
  border: 1px solid  #d7d7d7;

} */

}

@media screen and (min-width: 1441px) {

  header{
    background-color:rgb(97, 182, 47);
    padding-left: 15%;
    padding-right:15%;
  }
.contenedor_promociones{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: rgb(197, 138, 138);; */
  margin: 40px 0;
  /* width: 1024px; */
  width: 65%;
  
}
.title_section{
  width: 65%;

}
.hero {
  
  height: 80vh;

}
.hero_contenedor {
  width: 70%;

}
}